@model GUIManagement.VacationEntitlementViewItem

@{
    Layout = null;
}



@using (Html.BeginForm("Details", "VacationEntitlement", FormMethod.Post, new { id = "formId" }))
{
                <div class="form-group">
                    @Html.LabelFor(model => model.VacationDaysPreviousYear, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.VacationDaysPreviousYear, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.VacationDaysTotal, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.VacationDaysTotal, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Abschicken" class="btn btn-default" />
                    </div>
                </div>
}