@model IEnumerable<VacationManagement.ShiftGroup>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Schichtgruppen</h2>

<p>
   
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeID01_FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeID02_FullName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeID01_FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeID02_FullName)
            </td>
            <td>
                
            </td>
        </tr>
    }

</table>